VITE_SUPABASE_URL=https://mxjfqszjpnlmagsikqfk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im14amZxc3pqcG5sbWFnc2lrcWZrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQwNzk0NTMsImV4cCI6MjA3OTY1NTQ1M30.Um6doL5HLQ6WsmJ5uOLOViax8u1EH1YMZOUyblWipn0
